h2 {
    font-size: 30px;
    color: white;
}
.org-detail-img {
    width: 200px;
    height: 130px;
    padding: 10px;
    object-fit: contain;
}
.org-detail-img.white {
    background-color: white;
}
.tech-details .each-tech {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
    padding: 10px;
    margin-right: 57px;
}